<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
            <title>dom</title>
        </head>
        <body>

            <header>
                <h3>#2 detect the scrool end</h1>
            </header>

            <main>
                <div class="col"></div>
                <div class="col">
                    key up / key down
                </div>
            </main>

        </body>
</html>