@import "src/style/index";

.table-container {
    background: $white;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-spacing: 0px;
}

td {
    padding: 0;
    text-align: left;
    padding: 6px;
}
td.selected {
    background: $secondary;
    color: $white;
    font-weight: bold;
}